.post {
    box-shadow: 0 0 3px 1px #dddddd;
    max-width: 100%;
    overflow: hidden;
}

.post-img {
    width: 100%;
    display: block;
    transition: all 1s ease-out; 
}

.post-info {
    padding: 10px;
    color: #7C6354;
}

.post-title {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 5px;
}

.post-description {
    overflow: hidden;
    line-height: 1.2em;
    max-height: 3.6em;
    margin-bottom: 10px;
}
.post-author {
    color: gray;
    margin-bottom: 5px;
}

.post-statistic-wrp {
    color: gray;
    padding-top: 10px;
    border-top: solid 1px #ededed;
}

.post:hover {
    background: #F9FBB2;
}

.post:hover .post-img {
    transform: scale(1.1);
}