.logo {
    height: 200px;
    min-height: 100px;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

header ul li a {
    color: black;
}

header ul li.search {
    margin-right: 70px;
    cursor: pointer;
}

header ul.page-nav li a:hover {
    text-decoration: underline;
    cursor: pointer;
}

header #search-small {
    display: none;
}

@media (max-width:700px) {
    header .menu {
        display: none;
    }
    header #search-small {
        display: block;
    }
}