* {
    box-sizing: border-box;
}

body {
    background-color: #A5ABAF;
}

#root {
    margin: auto;
    max-width: 1200px;
    display: grid;
    grid: 
    "header header"
    "content side"
    "content side"
    "footer footer"
     / 1fr 250px
    ;
    grid-gap: .5em;
    align-content: space-between;
}

header {
    display: flex;
    background-color: #F8FCDA;
    grid-area: header;
    font-size: 24px;
    padding: 20px;
    justify-content: space-between;
}

footer {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    background-color: #F8FCDA;
    grid-area:footer;
}

.main-content {
    background-color: #F8FCDA;
    grid-area: content;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(425px, 1fr));
    grid-gap: 20px;
    justify-content: space-between;
    padding: 20px;
}

.big-aside {
    background-color: #F9FBB2;
    opacity: .8;
    grid-area: side;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-content: center;
}

.section-info {
    display: none;
    background-color: #F9FBB2;
}

ul {
    list-style-type: none;
    display: block;
}

ul li {
    float: left;
    margin: 10px;
}

ul.socials li {
    padding: 10px;
}

ul li .insta:hover {
    color: #ec1354;
    cursor: pointer;
    transform: scale(1.5);
}

ul li .face:hover {
    color: #3b5998;
    cursor: pointer;
    transform: scale(1.5);
}

ul li .mail:hover {
    color: red;
    cursor: pointer;
    transform: scale(1.5);
}
.search:hover, .search-icon:hover {
    transform: scale(1.5);
    color: #7C6354;
}
#menuToggle {
    display: none;
    position: relative;
    top: 10px;
    left: 10px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: absolute;
    width: 300px;
    margin: -60px 0 0 -100px;
    padding: 50px;
    padding-top: 100px;
    background: #A5ABAF;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li:hover {
    text-decoration: underline;
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
    color: black;
    float: none;
}

#menu a {
    text-decoration: none;
}

#menuToggle input:checked~ul {
    transform: translate(15%, 0);
}

@media (max-width:700px) {
    #root {
        grid:
        "header header"
        "author-side author-side"
        "content content"
        "rest-side rest-side"
        "footer footer"
        ;
    }
    #menuToggle {
        display: block;
    }
    .rest-info,
    .author-small-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    .author-small-info {
        grid-area: author-side;
    }
    .rest-info {
        grid-area:rest-side;
    }
    .big-aside{
        display: none;
    }

}