* {}

body {
    background-color: #2D2D2A;
}

#root {
    margin: auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 250px;
    grid-template-rows: repeat(4, minmax(100px, max-content));
    grid-gap: 10px;
    align-content: space-between;
}

header {
    display: flex;
    background-color: #F8FCDA;
    grid-column: 1/-1;
    font-size: 24px;
    padding: 20px;
    justify-content: space-between;
}

footer {
    background-color: pink;
    grid-column: 1/-1;
}

.main-content {
    background-color: #F8FCDA;
    grid-column: 1;
    grid-row: 2/4;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(425px, 1fr));
    grid-gap: 20px;
    justify-content: space-between;
    padding: 20px;
}

.big-aside {
    background-color: #20FC8F;
    opacity: .8;
    grid-row: 2/4;
}

.small-aside {
    display: none;
}

.logo {
    height: 200px;
    min-height: 100px;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

ul {
    list-style-type: none;
}

header ul li {
    float: left;
    margin: 10px;
}

header ul.socials li {
    padding: 10px;
}

header ul li .insta:hover {
    color: #ec1354;
    cursor: pointer;
}

header ul li .face:hover {
    color: #3b5998;
    cursor: pointer;
}

header ul li.search {
    margin-right: 70px;
}

header ul.page-nav li a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.post {
    box-shadow: 0 0 3px 1px #dddddd;
    overflow: hidden;
}

.post-img {
    width: 100%;
    display: block;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

.post-info {
    padding: 10px;
}

.post-title {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 5px;
}

.post-description {
    margin-bottom: 10px;
}

.post-author {
    color: gray;
    margin-bottom: 5px;
}

.post-statistic-wrp {
    color: gray;
    padding-top: 10px;
    border-top: solid 1px #ededed;
}

.post:hover {
    background: #E3E9C2;
}

.post:hover .post-img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}